[submodule "dbt/demodadosdw"]
	path = dbt/demodadosdw
	url = https://github.com/lksprado/demodadosdw
[submodule "include/local_setup"]
	path = include/local_setup
	url = https://github.com/lksprado/demodados.git
